/* جلوگیری از افتادن تیتر توی صفحه جدا */
h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
}

h1 + p, h2 + p, h3 + p {
    page-break-before: avoid;
}

p, ul, ol, pre, blockquote {
    page-break-inside: avoid;
}
